<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #nave{
            width: 100%;
            height: 30px;
            text-align: center;
            padding-left: 40px;
        }
        #top{
            width: 70%;
            border: 1px;
            float: left;
        }
        #top li {
            border: 1px;
            padding: 50px;
            list-style: none;
            float: left;
            font-size: large;

        }
        #lever{
            width: 70%;
            border: 1px;
            margin-top: 20px;
        }
        #article{
            width: 70%;
            border: 1px;
            float: left;
            margin-right: 20px;
        }
    </style>

 <meta name="keywords" content="'"/>
<meta name="description" content="" />
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sliders.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static '' %}js/modernizr.js"></script>
<![endif]-->
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="{% static 'js/up/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/up/js.js' %}"></script>
</head>
<body>
<header>
<div style="border: 1px "  id="nave" > {% if username %}
           <a href="{% url 'taskarticle:show' %}">welcome!{{ username }}</a>
             <a href="{% url 'taskuser:logout' %}">退出</a>
        {% else %}
           <a href="{% url 'taskuser:login' %}">登录</a>
           <a href="{% url 'taskuser:register' %}">注册</a>
         {% endif %}
</div>

  <div class="logo f_l"> <a href="/"><img src="{% static 'images/logo.png' %}"></a> </div>
  <nav id="topnav" class="f_r">
    <ul>
     <a href="news.html" target="_blank">关于我</a> <a href="p.html" target="_blank">文章</a> <a href="a.html" target="_blank">心情</a> <a href="c.html" target="_blank">相册</a> <a href="b.html" target="_blank">留言</a>
    </ul>
    <script src="{% static 'js/nav.js' %}"></script>
  </nav>
</header>
{#自己  构建的 东西 #}
<article  id="article">
    {% block left %}
        <div id="top">
            <ul>
                <li><a href="{% url 'taskarticle:add' %}">写博客</a></li>
                <li><a>发chat</a></li>
            </ul>
        </div>
{#z这里显示分#}
        <div id="lever" >
            {% block lever %}
               <ul  id="pagenumber">
                {% if list.has_previous %}
                    <li><a href=" {% url 'taskarticle:show' %}?page={{ list.previous_page_number }}">上一页 </a></li>
                {% else %}
                   <li><a  href="#">上一页</a></li>
               {% endif %}

                  <li><a href=" #">{{ list.number }} </a></li>

                   {% if list.has_next %}
                    <li><a href=" {% url 'taskarticle:show' %}?page={{ list.next_page_number }}">下一页 </a></li>
                {% else %}
                   <li><a  href="#">下一页</a></li>
               {% endif %}
               </ul>
            {% endblock %}
{#        下面 是  具体发表的  每一片文章 #}
            <div id="the_article">

               <a><{% for article in list %}
                   <a href="{% url 'taskarticle:get' %}?id={{ article.id }}">{{ article.title }}<br>
                    {{ article.content }}<br></a>

                   &nbsp  &nbsp 点赞：{{ article.love_num }}&nbsp 评论：{{ article.comment_set.all.count}}   &nbsp  &nbsp  &nbsp 浏览次数 {{ article.click_num }}<br>
                   <br>

                {% endfor %}

            </div>
        </div>

{#        关于　　为什么不再　这个　页面　设置　dianzan 功能　的　原因#}
{#   这里　在回调函数　执行的时候　　     ｝#}
{#　　$("＃dianzan")．attr("value",data)#}
{#       上面这个　函数　拿到的　　永远　是第一个　设置的　内容　除非　想一个方法　　动态　给　button后面的　　input绑定一个特殊的class#}
{#        将文章的id动态的　添加到　　input的　class中　　然后　通过class　来　拿绑定的值　这样就可以#}
{#        在这个界面　实现　点击　#}


    {% endblock %}
</article>
    <div class="r_box f_r" style="border: 1px">
        <div class="tit01">
            <h3>关注我</h3>
            <div class="gzwm">
                <ul>
                    <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
                    <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
                    <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
                    <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
                </ul>
            </div>
        </div>
        <!--tit01 end-->
        <div class="ad300x100"><img src="{% static 'images/ad300x100.jpg' %}"></div>
        <div class="moreSelect" id="lp_right_select">
            <script>
                window.onload = function () {
                    var oLi = document.getElementById("tab").getElementsByTagName("li");
                    var oUl = document.getElementById("ms-main").getElementsByTagName("div");

                    for (var i = 0; i < oLi.length; i++) {
                        oLi[i].index = i;
                        oLi[i].onmouseover = function () {
                            for (var n = 0; n < oLi.length; n++) oLi[n].className = "";
                            this.className = "cur";
                            for (var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                            oUl[this.index].style.display = "block"
                        }
                    }
                }
            </script>
            <div class="ms-top">
                <ul class="hd" id="tab">
                    <li class="cur"><a href="/">点击排行</a></li>
                    <li><a href="/">最新文章</a></li>
                    <li><a href="/">站长推荐</a></li>
                </ul>
            </div>
            <div class="ms-main" id="ms-main">
                <div style="display: block;" class="bd bd-news">
                    <ul>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                    </ul>
                </div>
            </div>
            <!--ms-main end -->
        </div>
        <!--切换卡 moreSelect end -->

        <div class="cloud">
            <h3>标签云</h3>
            <ul>
                <li><a href="/">个人博客</a></li>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
                <li><a href="/">Javasript</a></li>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
            </ul>
        </div>
        <div class="tuwen">
            <h3>图文推荐</h3>
            <ul>
                <li><a href="/"><img src="{% static 'images/01.jpg' %}"><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><img src="{% static 'images/02.jpg' %}"><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/" title="手机的16个惊人小秘密，据说99.999%的人都不知"><img src="{% static 'images/03.jpg' %}"><b>手机的16个惊人小秘密，据说...</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><img src="{% static 'images/06.jpg' %}"><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><img src="{% static 'images/04.jpg' %}"><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
            </ul>
        </div>
        <div class="ad"><img src="{% static 'images/03.jpg' %}"></div>
        <div class="links">
            <h3><span>[<a href="/">申请友情链接</a>]</span>友情链接</h3>
            <ul>
                <li><a href="/">温小白个人博客</a></li>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
            </ul>
        </div>
    </div>

<footer>
    <p class="ft-copyright">温小白博客 Design by DanceSmile 京ICP备11002373号-1</p>
    <div id="tbox"><a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a></div>
</footer>
{% block myjs %}
{% endblock %}
</body>
</html>
